<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>肇庆学院请假系统</title>
    <link rel="stylesheet"
          href="/YibanLeaveSystem/static/css/student/gsdk-bootstrap-wizard.css"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
          name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="image-container set-full-height"
     style="background-image: url('/static/images/false.png')">

</div>

</body>
</html>