<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/static/css/bootstrapvalidator-master/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/bootstrapvalidator-master/dist/css/bootstrapValidator.css" />
		<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css" />

		<link rel="stylesheet" href="/static/css/demo.css" />
		<link rel="stylesheet" href="/static/css/gsdk-bootstrap-wizard.css" />
	    <link rel="stylesheet" href="/static/css/style.css" />

		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />
		<meta charset="utf-8">
		<title>肇院请假系统</title>

	</head>

	<body>

		<div class="image-container set-full-height" style="background-image: url('/static/images/bg.png')">
   <section>
        <div class="container">

            <div class="row">

                <div class="index-body animated" id="index">
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="orange" id="wizardProfile">
									<div class="wizard-header">
										<h3>
                        	          肇院 <b>请假系统</b><br>
                        	       <small></small>
                        	     </h3>
									</div>
									<form id="testForm" class="form-signin required-validate"  @submit.prevent="submit" enctype="multipart/form-data" >

										<div class="form-group row">
											<div class="col-md-6">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-bookmark-o">学号</i></span> <input name="studentId" type="text" class="form-control " id="studentId" v-model="studentId" disabled></div>
											</div>
											<div class="col-md-6">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-user">名字</i></span> <input name="name" type="text" class="form-control " id="Name" v-model="name" disabled></div>
											</div>

										</div>

										<div class="form-group row">
											<div class="col-md-6">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-building-o">学院</i></span> <input name="department" type="text" class="form-control " id="department" v-model="department" disabled></div>
											</div>
											<div class="col-md-6">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-tag">班级</i></span> <input name="className" type="text" class="form-control " id="className" v-model="className" disabled></div>
											</div>

										</div>

										<div class="form-group row">
											<div class="col-md-6 ">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-phone">联系方式</i></span> <input name="phone" type="text" class="form-control" id="Mobile" placeholder="请输入手机号码" v-model="information.phone"></div>
											</div>

											<div class="col-md-6">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-clock-o">请假节数</i></span><input type="text" name="number" id="Number" class="form-control"  placeholder="请输入请假节数" v-model="information.number" /></div>
											</div>

										</div>

										<div class="form-group row">
											<div class="col-md-6 ">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar-o">开始时间</i></span> <input name="beginTime" type="date" class="form-control" id="begin1" v-model="information.beginTime"></div>
											</div>

											<div class="col-md-6">
												<div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar-o">截止时间</i></span><input type="date" name="endTime" id="end1" class="form-control" v-model="information.endTime" /></div>
											</div>

										</div>

										<div class="form-group row">
											<label for="reason"><i class="fa fa-edit">请假理由</i></label>
											<textarea class="form-control" row="8" name="Reason" id="Reason" v-model="information.reason" placeholder="请输入请假理由"></textarea> </div>
										<div class="form-group row ">
											&nbsp;&nbsp;&nbsp;&nbsp;<label for="Inputfile"><i class="fa fa-upload">上传请假证明</i></label> &nbsp;&nbsp;&nbsp;&nbsp;
											<input type="file" id="file" name="File">

										</div>
										<div class="row">
											<div class="col-md-2 col-md-offset-10">
												<button type="button" class="btn btn-info" id="btn" title="提交申请" @click="submitSignin"><i class="fa fa-check">提交申请</i></button>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>

					<div class="footer" style="margin-bottom: 0px;">
						<div class="foot-text">易班学生工作站</div>
						<div class="foot-copyright">Copyright© 2017 ZQU E-Class</div>
					</div>
				</div>
			</section>
		</div>

		<script type="text/javascript" src="/static/css/bootstrapvalidator-master/vendor/jquery/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/static/css/bootstrapvalidator-master/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/source/layer/layer.js"></script>
		<script type="text/javascript" src="/static/source/layer/extend/layer.ext.js"></script>
		<script type="text/javascript" src="/static/js/vue.min.js"></script>
		<script type="text/javascript" src="/static/js/Submit.js"></script>
		<script type="text/javascript" src="/static/css/bootstrapvalidator-master/dist/js/bootstrapValidator.js"></script>
		<script type="text/javascript" src="/static/css/bootstrapvalidator-master/dist/js/language/zh_CN.js"></script>
		<script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
		<script type="text/javascript" src="/static/js/Student.js"></script>

	</body>

</html>