<!DOCTYPE html>
<html>

<head>
<title>个人请假记录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
<link rel="shortcut icon" href="../../YibanLeaveSystem/static/images/favicon.ico">

<link rel="stylesheet"
	href="../../YibanLeaveSystem/static/css/studentList/bootstrap.min.css">
<link rel="stylesheet"
	href="../../YibanLeaveSystem/static/css/studentList/normalize.min.css">
<link rel="stylesheet" href="../../YibanLeaveSystem/static/css/studentList/style.css">

</head>

<body>
	<div id="demo">
		<h1>个人请假记录</h1>
		<span id="dataBox" style="display:none">${studentId}</span>
		<div class="table-responsive-vertical shadow-z-1">
			<table id="mytable"
				class="table table-striped table-hover table-mc-light-blue">
				<thead>
					<tr>
						<th>请假记录</th>
						<th>开始时间</th>
						<th>截止时间</th>
						<th>请假状态</th>
					</tr>
				</thead>
				<tbody id="record">
				</tbody>

			</table>
			<!--      <div class="modal fade" id="Detail1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              	<div class="modal-content">
              		<div class="modal-header">
              	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              	    <h4 class="modal-title" id="myModalLabel">查看请假理由</h4>
              		</div>
              		<form class="form-horizontal">
              		 <div class="modal-body">
              			
              	    <div class="form-group">
              	     <label for="Reason" class="col-sm-2 form-control-label">请假理由</label> 
              	     
              	     <textarea class="form-control col-sm-10" rows="3" name="Reason" id="Reason"></textarea>             	     
              	     </div>
              	    
              	     <br>
             	     
              	    <label for="File" class="col-sm-2 form-control-label">请假证明</label>
              	     <br>              	     
              	     <a href="#" title="请单击下载" class="col-sm-10 form-control">请假证明文件</a>
             	    </div>              	                  	                   	     
              		</form>              		
                   <br><br>
              		<div class="modal-footer">
              			<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
              		</div>
              		
              		</div>
              	</div>-->
              </div>

		</div>

		<div class="footer">
			<div class="foot-text">易班学生工作站</div>
			<div class="foot-copyright">Copyright© 2017 ZQU E-Class</div>
		</div>
		<script type="text/javascript" src="../../YibanLeaveSystem/static/js/jquery-3.2.0.min.js"></script>
		<script src="../../YibanLeaveSystem/static/js/studentList/bootstrap.min.js"
			type="text/javascript"></script>
		<script src="../../YibanLeaveSystem/static/js/layer/layer.js" type="text/javascript"></script>
		<script src="../../YibanLeaveSystem/static/js/layer/extend/layer.ext.js"
			type="text/javascript"></script>
		<script src="../../YibanLeaveSystem/static/script/studentRecord.js" type="text/javascript"></script>
</body>

</html>